{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
Django APP
{% endblock %}

{% block content %}

    {% if request.user.username %}
        {% include "welcome.html" with extra="Дополнительная информация" %}
    {% endif %}

    <div class="row row-cols-1 row-cols-md-4">
    {# ЦИКЛ #}
        {% for post in posts %}
            <div class="col py-3">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url "show-post" post.id %}">
                            {{ post.title }}
                        </a>
                    </h5>
                      {# Дата и время создания поста #}
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.created | naturaltime }}</h6>
                      {# Пользователь #}
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.user.username }}</h6>
                    <p class="card-text">{{ post.content | slice:":20" }}...</p>

                    {% if post.user.username == request.user.username %}
                        {# Ссылка редактировать #}
                        <a href="{% url "update-post" post.id %}" class="card-link">Изменить</a>
                    {% endif %}
                  </div>
                </div>
            </div>

        {% empty %}

            <h1>Нет заметок</h1>

        {% endfor %}
        {# КОНЕЦ ЦИКЛА #}
    </div>

{% endblock %}
